---
import { Post } from '../lib/interfaces.ts'
import { filePath } from '../lib/blog-helpers'
import { getPostLink } from '../lib/blog-helpers.ts'

export interface Props {
  post: Post
}

const { post } = Astro.props

let image = ''
if (post.FeaturedImage && post.FeaturedImage.Url) {
  if (import.meta.env.DEV) {
    image = post.FeaturedImage.Url
  } else {
    image = filePath(new URL(post.FeaturedImage.Url))
  }
}
---

{
  image && (
    <a href={getPostLink(post.Slug)}>
      <div class="post-featured-image">
        <img src={image} alt="post-featured-image" />
      </div>
    </a>
  )
}

<style>
  .post-featured-image {
    padding: 0.6rem 0 0.2rem;
    margin: 0 1rem 0 0;
    display: block;
  }
  .post-featured-image img {
    display: block;
    width: 140px;
    height: 140px;
    object-fit: cover;
    border: solid 1px #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    flex-shrink: 0;
    transition: .3s ease-in-out;
}

@media (max-width: 640px) {
  .post-featured-image img {
    width: 100px;
    height: 100px;
  }
}
</style>
